[2014-03-01 15:14] jglovier opened #2 "browser support for flexbox"
Right now I'm vertically centering the page contents for the temp landing page with css `flexbox`. Browser support, however, is pretty limited right now, so I'm need to take some time to implement the vertical centering another way. Flexbox was just the fast way to get it done initially.

[2014-10-11 18:33] tangollama opened #6 "features page"
Here's the current list.

Offline-first architecture to allow access anywhere, regardless of variable connectivity
Dual deployment architecture, allow local and cloud installation to work seamlessly
Inventory management (including audit tracking and cost accounting)
Patient management
Procedures (including ICD-10 coding for diagnosis and procedures)
Appointments & Visits (inpatient, outpatient, ph

[2014-10-20 14:02] jglovier opened #7 "add screenshots to landing page"
While the UI has a long way to go, and will likely undergo plenty of changes, it would be good to add some screenshots (probably with multiple devices, showcasing that it's responsive and accessible) to the landing page.

[2015-06-17 01:21] jglovier opened #8 "Redesign home page"
The landing page sucks. It just does. Once the new UI lands, we should add a screencap, and start to think about making the landing page actually present a pitch with features and benefits, etc.

Here's an initial mock. We can tweak content accordingly, but this is the general direction I'd like to take for the next iteration. Note this only addresses the home page for now, but we'll also need to

[2015-06-17 01:23] jglovier commented on #8
Was also thinking of adding  a section somewhere about "Field Tested" and a paragraph talking about how it's being used in CURE's hospital in the Phillipines, etc. Could also eventually mention other hospitals running it, etc.

[2015-06-17 01:29] jglovier commented on #8
I'd also like to add a tablet screenshot next to the desktop screenshot once the new UI is a little more fleshed out.

[2015-06-17 01:30] tangollama commented on #8
I like it.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-06-17 01:42] jkleinsc commented on #8
Looks good!  Great idea.

[2015-07-10 13:29] jglovier opened #9 "Add blog"
Per @tangollama's comments in Slack, we need a blog.

![typity-type](https://cloud.githubusercontent.com/assets/1319791/8619582/32e04680-26e6-11e5-9916-eeac5ca2077b.gif)

[2015-08-05 17:18] jglovier commented on #8
Closed via #10

[2015-08-05 17:18] #8 closed

[2015-08-05 17:18] jglovier commented on #7
Closed via #10

[2015-08-05 17:18] #7 closed

[2015-08-05 17:20] jglovier opened #11 "Mobile fixes"
In #10 I rushed to get a redesign out the door, but it still needs some minor fixes for mobile. Mostly layout spacing and such.

[2015-08-05 17:21] jglovier opened #12 "Demo page design cleanup"
The current demo page is a quick and dirty implementation but needs some design love. The list could be laid out better, and there could be a screencap again on that page.

[2015-08-05 17:53] #11 closed

[2015-09-07 14:27] jglovier opened #14 "Surfacing Docs"
We should really have a better documentation experience, directly from the project site. Right now we're linking to the project Wiki, but we can do much better. For some great examples, see the following docs sites:
- [Bootstrap](http://getbootstrap.com/getting-started/)
- [Ember](http://guides.emberjs.com/v2.0.0/)
- [Ratchet](http://goratchet.com/getting-started/)
- [jQuery](http://api.jquery.com

[2015-09-07 14:35] jglovier opened #15 "Build page for Why HospitalRun"
Right now, the Why HospitalRun link just points to a Google Doc. Let's make a page for a better user experience than just reading all the content in a Google Doc.

The biggest question is how to structure the content, if differently from the Google Doc? For starters, we could certainly just use the outline in the doc, but having an actual landing page does give us a way to express the content in a

[2015-11-05 20:39] reybango opened #16 "How do people contribute to the project?"
Love the premise of this project and was looking into how to contribute but couldn't find anything that outlined:

* If external contributions are accepted
* What type of contributions or help you're in need of
* In terms of coding, a central place that outlines all the libs, frameworks, technologies and skills that form the project so that an individual can see if they have something to contribut

[2015-11-05 20:55] jkleinsc commented on #16
@reybango thanks for your interest.  Most of the development is happening with our Ember front end here: https://github.com/HospitalRun/hospitalrun-frontend.  We have the beginnings of a contribution guide there: https://github.com/HospitalRun/hospitalrun-frontend/blob/master/CONTRIBUTING.md

[2015-11-05 21:11] reybango commented on #16
@jkleinsc thank you so much for pointing me in the right direction. I'll definitely look it over.

[2015-11-05 21:13] #16 closed

[2015-12-04 11:55] konradbloor opened #17 "'Proceedures' spelling mistake on front page image"
On hospitalrun.github.io/img/screenshot-mock-sm.jpg I can see 'Proceedures' being used twice.  Believe the correct spelling is 'Procedures'.

[2015-12-04 13:16] buren commented on #9
I'd love to help out!

I see that the blog is somewhat "live" already, although it is not linked on the start page but you can access it if you know the URLs:

* http://hospitalrun.io/blog/2014/02/welcome-to-jekyll/
* http://hospitalrun.io/blog/2014/08/early-release-in-september-2014/

I'd love to help out some how (really like what you guys are trying to do..), please let me know if this, or some

[2015-12-04 14:25] jglovier commented on #9
@buren awesome - thanks! I've got to do a bit more work on the design front, but I'll work on that and post some comps. Once I get a PR open I'll cc you. :metal: :zap:

[2015-12-04 15:22] buren commented on #9
:+1: Thanks!

I'll look through your node app and ember app in the meantime :)

[2015-12-04 15:44] jkleinsc commented on #17
@jglovier Where did we get that image from?  Was that a mockup?

[2015-12-04 16:29] tangollama commented on #9
FYI, node app is really light currently. We want to see the reporting framework move there. There's a ticket out there for that under "help wanted"

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-12-04 17:17] jglovier commented on #17
Yeah, it's from my Sketch files. I'll update it. I've got some changes to make to the button UI there anyway.

[2015-12-10 23:04] jglovier opened #18 "Add a community standards page"
As HospitalRun contribution involvement grows, we should have a clearly defined set of community standards for how to interact with each other to help define how we want our community to treat each other. It's our job to help make being a contributor to open source a positive, welcoming, and inclusive experience. Having a clearly defined set of standards for interaction and communication is import

[2015-12-11 02:29] tangollama commented on #18
Agreed. Do you have a suggestion on who should do this? Me? You?

[2015-12-11 02:36] jglovier commented on #18
Doesn't matter to me. I can take a stab when I get around to it and you can help make sure it looks good, or if you want to dive into it before I get a chance to you're welcome to. Just wanted to get an issue open before I forgot.

Also, we could probably just repurpose a lot of the existing language from the prior art examples.

[2016-05-12 15:37] jglovier opened #22 "GH Pages build failure due to upgrade to Jekyll 3.0"
GH Pages recently updated to Jekyll 3.0, and we need to update some of the dependencies accordingly.

[code]

[2016-05-12 16:30] #22 closed

[2016-06-11 02:07] tangollama opened #30 "Partners page"
We need a standard design for managing a /partners page that includes the logo of a given company / NGO / government entity that is recognized as a formal partner. For starters, I'd like to get the following onboard (and therefore surfaced on the website).
- CURE International
- eHealthAfrica
- New Relic
- Microsoft's Bizspark
- Ember Sherpa

And hopefully soon (formally)
- GitHub (hopefully)
- SA

[2016-06-15 00:02] jglovier opened #31 "Prioritization"
@danielgolden and I just chatted about the things that need work on the site, and I decided it would be really helpful to have a place to document the priorities. In rough order from my perspective, here's the prioritized list:
- [x] Blog work (see #9)
- [x] Demo page cleanup (see #12)
- [ ] Why HospitalRun page (see #15)
- [ ] Features page (see #6)
- [ ] Contributors page
- [x] Partners page (se

[2016-06-20 17:22] tracicakes commented on #31
👍 This priority order is a check! Blog really is most important right now as we launch into doing PR middle of July.

![200](https://cloud.githubusercontent.com/assets/9448755/16203800/d5eab536-36d0-11e6-9746-9d02d6ca907e.gif)

[2016-06-23 03:09] jglovier opened #34 "testing gitmagic with issues"

[2016-06-23 03:10] #34 closed

[2016-06-28 22:52] danielgolden commented on #9
Ok, so I’ve got a rough draft ready so that we can get a feel for the direction we want to go with this. So what are your thoughts on the direction?

**Archive Page:**
![blog page](https://cloud.githubusercontent.com/assets/812989/16435025/2cc7925c-3d61-11e6-888d-6c90dd7ce847.png)

**Single Post:**
![single post](https://cloud.githubusercontent.com/assets/812989/16435029/3765186a-3d61-11e6-9747-af

[2016-06-28 23:21] tangollama commented on #9
FWIW, I like it.

Sent using CloudMagic Email [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=7.11.40&pv=9.3.1&source=email_footer_2]
On Tue, Jun 28, 2016 at 6:52 PM, Daniel Golden <notifications@github.com> wrote:
Ok, so I’ve got a rough draft ready so that we can get a feel for the direction we want to go with this. So what are your thoughts on the direction?

Archive Page:
[https://cloud.githubuse

[2016-06-29 00:37] jglovier commented on #9
@danielgolden this is perfect. :metal: 👌 :sparkles:

Only a few small tweaks:
- Not a fan of the italicized meta line; can we remove the italics? Like the rest of the text styling on that line though.
- For the sidebar text, lets make the post titles a white or light blue color instead of green for readability since those lines are so long. I think the green works well for the links in large blobs

[2016-06-29 12:39] danielgolden commented on #9
@jglovier Sounds good, man. Thanks for the quick feedback. I'll make these changes and post the updated version here. Are there any pages that we need to design for apart from the archive and single post pages?

Also, just for my understanding and future reference, what are your thoughts on the italicized meta line? Particularly what issue(s) does italics create that using roman solves?

[2016-06-29 15:41] jglovier commented on #9
Yeah, we should probably have a category page. Here's an example of the category page I have generated for my Jekyll site: http://joelglovier.com/writing/faith/. We can customize it however, but thats just one example of a Jekyll category setup.

Italicized text should indicate emphasis, but in the context of the meta info line the text is actually supposed to be subtle (hence why the muted color

[2016-07-04 19:06] danielgolden commented on #9
That makes sense, Joel. I've updated the pages below and have included a category page. The styling for the category page is simple, but I think it's sufficient to communicate "what you see here is a part of this category". What do you think?

#### Archive page:
![blog page](https://cloud.githubusercontent.com/assets/812989/16568469/87ad2da8-41f8-11e6-8aa0-eb9f3254129e.png)

#### Category page:
![

[2016-07-05 16:32] jglovier commented on #9
@danielgolden awesome. ✨ Looks good to me. 👍 🚢

[2016-07-05 16:32] jglovier commented on #9
@danielgolden do you anticipate having any time to implement this, or should I put implementation on my radar?

[2016-07-05 16:34] jglovier commented on #9
Also, something I'd like to address (but not necessarily with this effort) is some design love for the global footer. Not a fan of just reusing the global header nav as the footer (I realize this is just what's in place currently, and more so just stating for FYI).

[2016-07-06 21:04] danielgolden commented on #9
@jglovier Awesome 👌. I don't have the time at the moment, and I'm confident that it's hardly possible I'll have the time until after my wedding on Aug. 20. That'll definitely be a possibility going forward, but the closer I get to that date the less time I find I have.

That said, I'm still available to work on more mockups (like updating the footer). Also, what's the best way for me to get these

[2016-07-07 13:17] jglovier commented on #9
👍

👍 👍

You could add them to the appropriate directory in this repo with a PR.

[2016-08-30 13:18] PRDinesh opened #37 "Information on the Team behind the HospitalRun and their roles"
It would help us to understand better if some information on the Team behind HospitalRun and their roles are provided on the website hospitalrun.io

[2016-10-04 11:59] pmbanugo commented on #9
http://hospitalrun.io/blog doesn't seem to be available anymore.

[2016-10-04 14:46] jglovier commented on #9
@pmbanugo yeah, that's because it hasn't been built yet. This issue is for designing and building it, but as of yet it's not live. Did you see a link to it somewhere that we should remove while it's in development?

[2016-10-12 06:17] hollenberry opened #38 "Events Page Out of Date"
Hi Team!

I know that this isn't necessarily a place where you're looking for assistance, but I did notice that the Events page is out of date.

<img width="1213" alt="screen shot 2016-10-11 at 11 14 53 pm" src="https://cloud.githubusercontent.com/assets/13326548/19299349/af70ccc4-9008-11e6-84fb-81b5fefae90f.png">

I'm not sure if you have more events looming and would like to update this yourself

[2016-10-13 12:53] jglovier commented on #38
@hollenberry actually it's most DEFINITELY a place where we could use assistance! Thanks for opening this one up. :tada:

[2016-10-13 12:54] jglovier commented on #37
@PRDinesh thanks for opening this up. I think it'd be great to highlight the core team, as well as have a list of contributors on the site. 👍

You can see a list of our current priorities here: #31

[2016-10-13 14:47] vis-kid commented on #9
@jglovier I’d be happy to help.

![salute](https://cloud.githubusercontent.com/assets/1353214/19353612/367c04ac-9164-11e6-8838-cc5aefdd28b9.gif)

[2016-10-13 14:49] jglovier commented on #9
@vis-kid I think we're good on the design front with what @danielgolden provided for mocks in the comments above. Are you comfortable with getting a PR going to build out those mocks?

[2016-10-13 14:52] vis-kid commented on #9
Yes, sir. Forked and ready to go. :)

[2016-10-13 15:08] vis-kid commented on #9
@danielgolden
Hi Daniel! Wanted to ask if I could get the design files. Would save me a lot of the guess work. :)

[2016-10-13 15:17] vis-kid commented on #37
@jglovier I can take care of this while building the blog #9. Once I familiarized myself with the blog design, I’ll come up with a mockup that fits in with the rest.

[2016-10-14 14:22] danielgolden commented on #9
Sure thing, @vis-kid 👍.

@jglovier Not sure if I should check in the files via git or just attach them to a comment :/. So In the interest of time, I'll just attach them and if you want me to add them to the repository just let me know.

Here you go, @vis-kid : [Blog.zip](https://github.com/HospitalRun/hospitalrun.github.io/files/529707/Blog.zip)

[2016-10-14 17:29] vis-kid commented on #9
@danielgolden Excellent, thanks very much! 👍 👍
I think committing these files might be overkill. 😃

[2016-10-15 00:21] #38 closed

[2016-10-20 15:46] jglovier commented on #9
Actually, it would be great to have them versioned in the [design repo](https://github.com/hospitalrun/design/). I'm trying to keep all design assets there as it's always helpful for others coming along and want to jump into some design work.

[2016-10-20 20:06] vis-kid commented on #9
@jglovier ah, good to know!

[2016-10-21 23:04] vis-kid commented on #9
@jglovier making good progress. Maybe I have v.1 ready in a few days.

# WIP
<img width="1476" alt="hospitalrun-index-wip-01" src="https://cloud.githubusercontent.com/assets/1353214/19614256/6a75686c-97f3-11e6-999d-048a8bad9035.png">

[2016-10-21 23:06] vis-kid commented on #9
@jglovier What about syntax highlighting for code examples? Any suggestions?

[2016-10-23 17:51] vis-kid commented on #9
@jglovier Coming together nicely. Going into tweaking mode…

Decided to part a little bit with the mockups. I thought that the sidebar doesn’t need to include a list of recent posts on the index for the blog. There I only show the recent releases. On the detail page for posts on the other hand, the sidebar is filled with recent posts as well. Cool?

<img width="1340" alt="screen shot 2016-10-23 at

[2016-10-23 19:09] vis-kid commented on #9
@jglovier will do, just have some housekeeping to do first. :)
So far I have’t spent any time on syntax highlighting. Can do it from scratch but it is probably a good idea to use an existing implementation. Any preferences?

[2016-10-24 01:11] jglovier commented on #9
Yeah, using an existing implementation is fine for now, and we can always iterate on making it feel more like it matches the side design. I'll probably write some specific syntax highlighting styles for our CSS pattern library anyway at some point (I did a [similar theme for iTerm](https://github.com/jglovier/galaxy-theme-iterm), but will still need a lot of work for porting to a Jekyll syntax hig

[2016-10-24 01:26] vis-kid commented on #9
Exactly my thoughts! :metal:

Will open a PR after I cleaned everything up.

After that I wanna spend a few commits on making it responsive. Think syntax highlighting can wait until after that!

[2016-10-24 01:27] vis-kid commented on #9
@jglovier cool iTerm theme btw!

[2016-10-24 18:46] vis-kid commented on #9
My todo list:

- [x] Basic blog implementation
- [ ] Tweaks
- [ ] Add responsive design
- [ ] Add Tags
- [ ] Add category pages
- [ ] Add author pages
- [ ] Add syntax hightlighting

[2016-11-18 17:01] vis-kid commented on #12
@jglovier o.k. I’ll think about the layout and ping u with some design ideas when I have a free minute.

Any particular ideas / preferences for that Demo page?

[2016-11-29 14:45] jglovier commented on #12
Mostly the page needs better information hierarchy, and some general design love. I can take a stab at redesigning and post a comp.

Or, if you have some ideas for improving it feel free to post your own comps and I can provide feedback. :sparkles:

[2016-11-29 16:24] vis-kid commented on #12
I’d be happy to come up with some comps and take off some of your workload. Just a bit slammed here at the end of the month.

My first gut reaction was to include “screenshots” of the main features for each different user role—plus some copy. Instead of screenshots, sketches that are rough estimations of the actual design might also be an interesting idea to try…

What do you think, valuable start

[2016-11-29 17:08] jglovier commented on #12
Great! Yeah, that's fine. Whenever you're able to get to it will be much appreciated. I can't put deadlines on volunteers! 😄

Honestly I don't think we need anything about the features on the demo page. The goal of that page is to get you to the actual demo. So just the basic info we have there now is probably sufficient. I just think it could use some cleanup.

[2016-11-29 17:15] vis-kid commented on #12
Rough deadlines are fine with me. Wanna see this project move forward too. :) End of the year crap piles on currently.

I get what you are saying. Tweaking information hierarchy alone would sure go a long way here. The thing is, I found the page a bit confusing at first.  Felt like it was missing some additional info in form of images before we ask users to login and see the actual demo. Could be

[2016-12-03 01:33] jglovier commented on #12
@vis-kid what information do you think the images will communicate? I'm not opposed, but I don't want to slap screenshots up there just to make it feel more visual. We already have a screenshot on the home page, which users will be coming directly from most of the time, and I think the place for more screenshots is actually a features page (#6).

One potential downside of images on this page is th

[2016-12-03 21:26] vis-kid commented on #12
Makes sense, you are the boss! Let’s park this conversation for the features page then. Good idea!

I’ll play with hierarchy and stuff then…

[2017-01-17 14:29] jglovier commented on #2
Flexbox support is pretty good right now. 😏

[2017-01-17 14:29] #2 closed

[2017-02-25 07:20] franciak opened #48 "A proper Sketch file for designer contributors to contribute to the marketing website"
**Expected behavior:**
-
As a designer who wants to contribute to an open source project such as Hospital Run for the first time, I want to be able to immediately start on building a new mockup from a Sketch file with components I can re-use.

**Actual behavior:**
-
Right now, after downloading the design source files, it seems there is only a Sketch file for the App UI. As a result, I will either

[2017-02-25 07:26] franciak commented on #15
@jglovier I would love to take a stab at this. I think it can look more market-able and succinct. 😄 Although, see https://github.com/HospitalRun/hospitalrun.github.io/issues/48. Maybe as I try to make one I can take some stuff in the file to be reused for a UI kit of some sort, in line with what I brought up in that issue. 😉

[2017-02-25 07:49] joycebean commented on #48
Agreed with @franciak - It would be great for new contributors to be equipped with all the relevant information, files and specifications from the start. Or if such guidelines weren't available, it would then be super helpful for that to be communicated across and that Hospital Run is up for suggestions or proposals on those areas 😄  Just thinking of ways to be enabled so that we can contribute mo

[2017-02-27 15:46] jglovier commented on #15
@franciak :clap: :tada: :heart:

[2017-02-27 15:51] jglovier commented on #48
@franciak thanks for jumping on this. This is a HUGE help. ❤️

Left some notes on your PR in #10.

[2017-04-05 10:16] ishanthilina opened #49 "Fix the URL beta.hospitalrun.io"
The page http://hospitalrun.io/demo/ asks to use the URL https://beta.hospitalrun.io/ to access the demo. But the URL is not working.

Reproduction steps
=================
 - Visit http://hospitalrun.io/demo/
 - Click on https://beta.hospitalrun.io/
 - The link is not working

[2017-04-05 13:21] jkleinsc commented on #49
@ishanthilina thanks for the issue.  I am working on this and will update this issue once everything is resolved.

[2017-04-05 14:37] jkleinsc commented on #49
The site is back.  Sorry for the inconvenience.

[2017-04-05 14:37] #49 closed

[2017-04-28 17:53] tangollama opened #50 "Help styling the tryit page"
In preparation for a release of a 1.0 beta, we have a new page on the website. I did the messaging, but it looks like garbage. I'm logging an issue as a basis to request for help bringing this thing to completion. https://github.com/HospitalRun/hospitalrun.github.io/tree/try-it

[2017-04-29 12:41] tangollama commented on #50
Thanks to @nfung for closing this out so soon.

[2017-04-29 12:41] #50 closed

[2017-04-29 14:48] Anisha1234 commented on #30
@tangollama I would like to help you with this issue.

[2017-04-29 15:02] tangollama commented on #30
@Anisha1234 great. Please do. The list of "partners" is in flux, so flexibility in the design is important. I'll be glad to review the PR when you're done.

[2017-04-29 15:59] Anisha1234 commented on #30
@tangollama should the page include a short info about the mentioned organisation?

[2017-04-29 16:19] tangollama commented on #30
Yes please. You can use Lorem ipsum in the page for now.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2017-04-30 16:57] Anisha1234 commented on #30
@tangollama I have created a partner page in the PR #53 . I would really like to know your kind suggestions on it.

[2017-05-05 15:56] shaz13 commented on #31
@jglovier Hello, I am a front-end web developer. Would be glad to contribute to hospital run. Could I take up the task of making the above pages? Kindly do guide me with formalities :+1: (signing CLA etc)

[2017-05-08 14:37] jglovier commented on #12
Closing this for now. @tangollama made some recent tweaks as part of adding the Try it page.

[2017-05-08 14:37] #12 closed

[2017-05-08 14:39] jglovier commented on #15
@franciak just checking back in - is this still something you are working on? Any updates?

[2017-05-08 14:43] jglovier commented on #31
@shaz13 thanks for your interest in contributing! We don't have a CLA right now, so not really any formalities. Just fork the project and open a PR with your work.

Most of the outstanding pages still need some design work before there is anything to build. Is design work something you're interested/able to contribute?

If so, then lets talk more about that in one of the dedicated issues for the o

[2017-05-08 14:56] shaz13 commented on #31
Yes, I am interested in the design work. Please let me know of any improvements at current outstanding pages.

[2017-05-10 05:07] tangollama opened #54 "Append the word "free" to the front of the front page description"
Multiple times a week, I get an email from people asking how much they need to pay for HospitalRun. I respond politely to them all, but it occurred to @jglovier and I to change the website to include the word "free" before "open source" to try to address this.

<img width="1280" alt="screen shot 2017-05-10 at 12 07 15 am" src="https://cloud.githubusercontent.com/assets/929261/25883984/ab542ad0-351

[2017-05-10 13:13] #54 closed

[2017-10-23 18:41] Anisha1234 commented on #15
@jglovier @tangollama @jkleinsc I would like to take this issue if nobody is still working on it :-)

[2017-10-24 15:31] jglovier commented on #15
@Anisha1234 yes please! Go for it. :tada:

@franciak FYI since you have been unresponsive here since May 8th, I'm going to assume you were unable to work on this and let @Anisha1234 pick up the effort from here.

[2017-11-17 22:37] fabianschwarzfritz opened #61 ""Try hospital run" Demo not working"
Hi,

I am not sure to which repository of HospitalRun this issue belongs to. I figured this one to be the best fit.
I stumbled across this project and wanted to try the demo via [the demo link on your website](http://hospitalrun.io/demo/). This forwards me to the [beta instance](https://beta.hospitalrun.io/).

I do get a connection error when browsing beta.hostpialrun.io .

Cheers

[2017-11-18 19:34] jkleinsc commented on #61
@fabianschwarzfritz sorry about that.  [https://beta.hospitalrun.io](https://beta.hospitalrun.io) is now available.

[2017-11-18 19:34] #61 closed

[2018-02-08 04:15] aamirsahmad opened #62 "This site can’t be reached - beta.hospitalrun.io"
This issue was pointed out and fixed before, however, the problem is back again: https://github.com/HospitalRun/hospitalrun.github.io/issues/49

URL https://beta.hospitalrun.io/ is not working.

# Reproduction steps
- Visit http://hospitalrun.io/demo/
- Click on https://beta.hospitalrun.io/
- The link is not working

[2018-02-15 22:06] brooksbecton commented on #62
I followed the reproduction steps and the link seems to be working for me now.

[2018-04-03 11:07] aloupfor commented on #62
I tried to reach https://beta.hospitalrun.io/ and the page was stuck in infinite loading.
I don't know if it was what happened and described by "The link is not working".
It looks like it comes from Firefox Private Browsing (I'm using Firefox 52).

![screenshot from 2018-04-03 12-56-11](https://user-images.githubusercontent.com/11750180/38245541-b6baa11a-373e-11e8-9bd3-87737d16aa54.png)

[code]

T

[2018-06-12 12:19] nhmaxime commented on #6
Any updates about the implementation of these features ?

[2018-09-06 09:51] #6 closed

[2018-09-06 09:52] donaldwasserman commented on #6
Closing this issue in lieu of creating new effort on homepage.

[2019-05-29 20:39] daar commented on #62
Everything seems to be working just fine now.

[2019-06-11 17:47] #62 closed

[2019-08-01 08:44] fox1t opened #68 "Site redesign"
We need to make some major changes to the webite. Let's use this issue to track all the ideas that will come.
I'll put down some of them as a start:
- [x]  link to spectrum and slack community
- [x]  add GitHub banner that links to the GitHub's HospitalRun org
- [x] team page
- [x]  "used by" section
- [x]  "supported by" section
- [x] "powered by" section
- [x]  better blog experience
- [x] use a

[2019-08-07 20:58] tehKapa opened #78 "Request the email/contact of the administrative contact for a deployment"

[2019-08-07 20:58] tehKapa opened #77 "Request the facility name, city/region and country of the deployment."

[2019-08-07 20:59] tehKapa opened #69 "Map the data feedback forms into /usage screen on hospitalrun.io using the Google Maps API to demonstrate where the project is being used."

[2019-08-07 20:59] tehKapa opened #73 "Map the data feedback forms into /usage screen on hospitalrun.io using the Google Maps API to demonstrate where the project is being used."

[2019-08-23 08:37] MatthewVita opened #70 "Wikipedia page"
Dear Maintainers,

My name is Matthew Vita, a programmer in the healthcare industry. I am trying to help build up the high impact "List of open-source health software" Wikipedia page (https://en.wikipedia.org/wiki/List_of_open-source_health_software) and would love to add your software to the list. However, it appears that your project does not have a page on Wikipedia so I ask you to consider the

[2019-08-24 13:21] tehKapa opened #71 "Update to Jekyll 4"
Update website to the new major release of [Jekyll](https://github.com/jekyll/jekyll/releases/tag/v4.0.0)

[2019-08-24 13:35] tehKapa commented on #71
Still waiting for the new update of [github/pages-gem](https://github.com/github/pages-gem/issues/651)

[2019-08-26 11:35] tehKapa commented on #70
I've recreated the draft. You can find it [here](https://en.wikipedia.org/wiki/Draft:HospitalRun):

[2019-08-26 15:08] #9 closed

[2019-08-27 12:26] fox1t commented on #70
@EdwardGoomba do it!!! And thanks for pointing this out! <3

[2019-09-02 14:15] #17 closed

[2019-09-02 14:16] #31 closed

[2019-09-02 14:16] #48 closed

[2019-09-03 11:55] tehKapa opened #72 "Transfer domain to another domain provider"
OpenJS has some agreements that motivate the use of Godaddy for domain hosting.

You should transfer the domain.

[2019-09-03 12:16] tehKapa commented on #72
@fox1t , what do you think?

[2019-09-03 12:40] fox1t commented on #72
I think that we can transfer the domain to our Godaddy, if you want. OpenJS is still defining the steps for aliging the projects with the new organization.

[2019-09-03 12:43] #72 closed

[2019-09-03 17:38] tehKapa commented on #68
_use a new jekyll template_

We will use [this](https://themeforest.net/item/doxy-knowlegebase-documentation-jekyll-template/23209854)

Why?
- Support SCSS
- SEO Friendly
- Docs section included
- Based on 4 Grid System
- Super Clear and Clean Layout
- Unique interface
- Responsive
- Free Google Fonts
- Free Font Based Icons
- W3C Validated

[2019-09-06 15:11] tehKapa opened #74 "Updating administrative contacts when a new release is delivered via newsletter"
Send the contact information from a feedback form (as provided) into the HospitalRun Releases list in the project Mailchimp account for the purposes of updating administrative contacts when a new release is delivered.

[2019-09-06 15:11] tehKapa opened #75 "Consume the submitted information for a feedback form in a central service under the hospitalrun.io domain"

[2019-09-06 15:11] tehKapa opened #76 "Create a feedback section of the app, available to Admin users"

[2019-09-10 07:35] tehKapa commented on #70
@EdwardGoomba any news?

[2019-10-13 11:17] tehKapa commented on #70
I can't figure out what I'm doing wrong. I fail all revisions. @EdwardGoomba any advice?

[2019-10-15 01:58] EdwardGoomba commented on #70
@tehKapa Sorry about the delay - forgot I turned off GitHub notifications

I looked through both rejections - what it sounds like is they are rejecting the submission because the only sources given for info are the hospital run website.

From what I understand the info needs to be compiled from several third party sources. Do you have publications, news articles, etc that mention the project? I th

[2019-10-15 09:17] tehKapa commented on #70
I added these two sources https://www.ibm.com/blogs/nordic-msp/3-reasons-think-offline-first/ https://ourcodeworld.com/articles/read/521/hospitalrun-a-free-and-easy-to-use-software-for-developing-world-healthcare

[2019-10-20 12:52] tehKapa commented on #70
@EdwardGoomba looks like a dead end :(

[2019-10-20 16:57] tehKapa opened #88 "Text revision"
@fox1t @StefanoMiC @irvelervel can you take care of it?

[2019-10-21 02:48] EdwardGoomba commented on #70
An attempt was made :(
With v 2.0 the project might get more traction, maybe we can open this up then?

[2019-10-21 10:57] szxcool opened #81 "HEY,I bring a Chinese edition of readme.md!"
<h1>HospitalRun 网站</h1>
<div align="center">

[![dependabot](https://badgen.net/dependabot/dependabot/dependabot-core/?icon=dependabot)](https://github.com/HospitalRun/components)  [![MIT](https://badgen.net/github/license/HospitalRun/components)](https://github.com/HospitalRun/components/blob/master/LICENSE) [![Join the community on Spectrum](https://withspectrum.github.io/badge/badge.svg)](https

[2019-10-22 08:10] tehKapa commented on #81
Hi @szxcool, please creates a PR and renames the file README.md to README.zh.md or README.zh-Hans.md in relation to the ISO language codes http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry

[2019-10-22 11:22] szxcool commented on #81
LIKE THIS?
%%
Type: redundant
Tag: zh-Hant-CN
Description: PRC Mainland Chinese in traditional script
Added: 2005-04-13
%%

[2019-10-22 12:43] tehKapa commented on #81
Yes, so, README.zh-Hans-CN.md

Follow this guide to create a PR https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2019-10-23 10:26] szxcool commented on #81
Need review?
https://github.com/HospitalRun/hospitalrun.github.io/pulls

[2019-10-23 13:52] #81 closed

[2019-10-25 04:12] szxcool opened #83 "Another CHINESE EDITION"
---
title: Contribute to HospitalRun
layout: default
---

# 对在HospitalRun项目中做贡献有兴趣吗？

在最近的一段时间内，这里只有不多的项目可以贡献。 随着项目扩大, 这里将会有更多的贡献. 我们希望你能看到我们所做的一切，并请以您擅长的方式参与进来。

## 成为一名代码贡献者

HospitalRun是由如下技术打造的[Node](http://nodejs.org)， [React](https://reactjs.org), [Fastify](https://www.fastify.io/) and [CouchDB](http://couchdb.apache.org/)。如果您已经使用过这些技术，或者有软件开发经验，并且有兴趣学习这些技术，请考虑[为HospitalRun做出贡献](https://gith

[2019-10-25 07:29] tehKapa commented on #83
@szxcool I thank you for your contribution, which was very much appreciated! However, we are completely redesigning the site, so at the moment we will not add new features. The latest version will hardly have a multilingual switch (at least at the beginning), but we will see to find a way to make it multilingual if necessary :)

[2019-10-25 07:29] #83 closed

[2019-11-14 20:09] #37 closed

[2019-11-18 17:47] lauggh opened #87 "Hospital Stories"
As a prospective Hospital Run user, I want to learn about how other practices/hospitals are using Hospital Run and how it works for them so that I can determine whether Hospital Run is a viable solution for me.

Need:
- Refactor Hospital Stories landing page
- Determine content priority/wireframe for a case study/Hospital Story detail page

[2020-01-30 11:26] fox1t opened #92 "Evaluate if ubersicht suits our needs"
## 🚀 Feature Proposal

Check if https://github.com/espy/ubersicht can help in showing all of our issues in only one place.

## Motivation

We need only one place, possibly linked on our website, to show to the community all of the issues that needs attention.

[2020-01-31 14:49] #15 closed

[2020-01-31 14:49] #73 closed

[2020-01-31 14:49] #77 closed

[2020-01-31 14:49] #78 closed

[2020-01-31 16:00] #88 closed

[2020-01-31 16:01] #68 closed

[2020-01-31 16:01] #30 closed

[2020-01-31 16:01] tehKapa opened #91 "Blog paginator issue"

[2020-01-31 17:10] #91 closed

[2020-01-31 17:10] #87 closed

[2020-02-01 14:35] tehKapa commented on #92
@fox1t look at here https://github.com/HospitalRun/ubersicht

[2020-02-01 14:39] #92 closed

[2020-02-08 10:21] tehKapa opened #96 "Add documentations"

[2020-02-08 13:29] #96 closed

[2020-06-06 00:08] lauggh opened #101 "Discourse page is broken"
Blog post announcing help wanted is broken: https://hospitalrun.io/blog/wanted-discourse-manager/

[2020-06-07 08:29] tehKapa commented on #101
This is a legacy feature that we no longer support and it becomes expensive (in moderation) to maintain.

[2020-06-07 08:29] #101 closed

[2020-06-24 09:51] #71 closed

[2020-07-02 23:25] llouii opened #104 "The inspiring story link is broken, or it says page not found"
## 🐛 Bug Report

In this page , [Great for New Contributors](https://github.com/showcases/great-for-new-contributorsl),  `the inspiring story` is
a broken link, because when i tried to visit this page, it says `Page Not Found`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I suggest that it may be this link that you're trying to direct viewers to.

[code]

## You

[2020-07-03 06:44] tehKapa commented on #104
Thanks for the report. However, the link you reported "_Great for New Contributors_" no longer seems to exist.
However, I have added a redirect from "https://hospitalrun.io/blog/2016/06/why-hospitalrun" to "https://hospitalrun.io/blog/why-hospitalrun".

[2020-07-03 06:44] #104 closed

[2020-07-03 08:37] tehKapa opened #105 "Fix broken links and error 4xx"
[Follow this Excel file as a reference](https://github.com/HospitalRun/hospitalrun.io/files/4868654/hospitalrun.io_internal_broken_links_20200703.xlsx)

[2020-07-10 13:08] #18 closed

[2020-07-10 15:02] ArslanM786 commented on #105
Could I get a little clarification please? The links need to to be routed to the correct pages?

[2020-07-11 08:36] tehKapa commented on #105
It is a matter of replacing links in the code where possible or creating a rewriting rule (a core team task)

[2020-07-13 14:02] ArslanM786 commented on #105
Okay I will start working on replacing the links

[2020-07-14 13:53] ArslanM786 commented on #105
Could I get added as an assignee for this issue please?

[2020-07-23 13:44] ArslanM786 commented on #105
I had a question, I noticed, according to the sheet, that there are multiple of the same exact broken links that are associated with different working links. For example the link https://www.hospitalrun.io/blog/2017/05/announcing-hospitalrun-1.0.0-beta is associated with https://www.hospitalrun.io/blog/ and also https://www.hospitalrun.io/blog/roadmap-to-hospitalrun-1.0/ in different instances. So

[2020-07-23 15:59] tehKapa commented on #105
Point to first one

[2020-08-06 22:13] ArslanM786 commented on #105
As I was trying to commit my changes to submit a PR, says no changes to commit. The files I changed by fixing the broken links does not show up as changes made. However changes made in the page folder show up as commits. I asked my mentor for help and since it's jekyll he said I have to find the corresponding files in pages files that correspond with the files i changes in the _site folder. But I

[2020-08-07 07:40] tehKapa commented on #105
seems to be a commit that was never merged into the main repo...

[2020-08-07 13:47] ArslanM786 commented on #105
For example some files I modified were hospitalrun.io/_site/blog/announcing-hospitalrun-1.0.0-beta/index.html line 437, hospitalrun.io/_site/tag/v2.0.0/index.html line 477 and 483, etc

[2020-08-07 14:07] tehKapa commented on #105
_site is a directory generated dynamically when code is built. you don't have to modify anything inside that directory

[2020-08-07 14:19] ArslanM786 commented on #105
Okay I understand, that is why my changes can't be committed in that directory. But I checked all the files and _site directory is where the broken links that I need to replace links coded. Then I don't understand in which files I replace the links

[2020-08-10 13:51] ArslanM786 commented on #105
@tehKapa Any update on what I should do to resolve this problem I am having

[2020-08-11 10:40] tehKapa commented on #105
You have to look up where the addresses are generated. It's likely that many are generated dynamically and core team need to create rewrite rules (as [written here](https://github.com/HospitalRun/hospitalrun.io/issues/105#issuecomment-657016042))

[2021-02-12 01:05] agusbrand commented on #105
@tehKapa Could I take this?

[2021-02-12 11:07] tehKapa commented on #105
ok @agusbrand

[2021-02-12 15:42] #105 closed

[2022-07-04 12:28] Irashad opened #110 "Demo webpage not working"
http://demo.hospitalrun.io/ not opening and giving timeout error even in the high speed internet

[2022-07-13 09:21] danielw-mt commented on #110
I tried this with different browser and it's not working anywhere

[2022-09-13 10:35] drakonkat commented on #110
I have tried it too and is offline, there is some reason about it?